.mysearch{
    border: 0px;
    outline: 0px;
}
.h-100vh{
    height: 100vh;
}
.h-90{
    min-height: 90% !important;
    max-height: 90% !important;
}
.h-80{
    min-height: 80% !important;
    max-height: 80% !important;
}
.pointer{
    cursor: pointer;
}
.edit-area{
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    padding: 10px;
    outline: 0px;
}
.border-0-fix{
    border: 0px;
    outline: 0px;
}
.note-list{
    overflow-y: scroll;
}
.transition{
    transition: all .5s ease-in;
}